@using Cico.Models.Helpers
 <h3>Admin Options</h3>
    <p>
       
    </p>
<ul style="padding-left: 5px;list-style: none">
    <li>@Html.ActionLink("Dashboard", "Index", "CheckLists")</li>
    
    @if (User.IsInRole("GlobalAdmin"))
    {
        <li>@Html.ActionLink("Offices", "Index", "Office", new {area = "Admin"}, null)</li>
    }
    <li>@Html.ActionLink("Employees", "Index", "Employee", new { area = "Admin" }, null)</li>
    
    <li>@Html.ActionLink("Reminders", "Index", "Reminder", new { area = "Admin" }, null)</li>
    <li>@Html.ActionLink("Subscriptions", "Index", "OfficeAdminDashboard", new { area = "Admin" }, null)</li>
    @if (User.IsInRole("OfficeAdmin"))
    {
    }
    
    @if (User.IsInRole("GlobalAdmin") || User.IsInRole("OfficeAdmin"))
    {
        <li>@Html.ActionLink("Forms Library", "Index", "DocumentTemplate", new { area = "Admin" }, null)</li>
        <li>@Html.ActionLink("Checklists", "Index", "ChecklistBuilder", new { area = "Admin" }, null)</li>
        <li>@Html.ActionLink("Notifications", "Index", "SentBox", new { area = "Admin" }, null)</li>
    }

    @if (User.IsInRole("GlobalAdmin"))
     {
         <li>@Html.ActionLink("Staff", "Index", "Staff", new {area = "Admin"}, null)</li>
        <li>@Html.ActionLink("Dropdowns", "Index", "DropDownItems", new {area = "Admin"}, null)</li>
     }
</ul>