@using Cico.Models.Helpers
 <h3>Select Admin Option</h3>
    <p>
       
    </p>
<ul style="padding-left: 5px">
    <li>@Html.ActionLink("Management Dashboard", "Index", "CheckLists")</li>
    
    @if (User.IsInRole("GlobalAdmin"))
    {
        <li>@Html.ActionLink("Offices", "Index", "Office", new {area = "Admin"}, null)</li>
        
    }
    <li>@Html.ActionLink("Users", "Index", "Employee", new { area = "Admin" }, null)</li>
    <li>@Html.ActionLink("Dependents", "Index", "Dependent", new { area = "Admin" }, null)</li>
    @if (User.IsInRole("OfficeAdmin"))
    {
        
        <li>@Html.ActionLink("Checklist Builder", "Index", "ChecklistBuilder", new { area = "Admin" }, null)</li>
    }
     @if (User.IsInRole("GlobalAdmin"))
     {
         <li>@Html.ActionLink("Staff", "Index", "Staff", new {area = "Admin"}, null)</li>
     }
</ul>