 <h3>Admin</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Checklist builder", "Index", "ChecklistBuilder", new { area = "Admin" }, null)</li>
        <li>@Html.ActionLink("Office", "Index", "Office", new { area = "Admin" }, null)</li>
        <li>@Html.ActionLink("Staff", "Index", "Staff", new { area = "Admin" }, null)</li>
        <li>@Html.ActionLink("Employee", "Index", "Employee", new { area = "Admin" }, null)</li>
        
        <li>@Html.ActionLink("CheckLists", "Index", "CheckLists")</li>
    </ul>