@model Cico.Controllers.DepententModel
@using Cico.Models.Helpers;           
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
       <fieldset>
        <legend>Dependent</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Dependent.GivenName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dependent.GivenName)
            @Html.ValidationMessageFor(model => model.Dependent.GivenName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Dependent.DateOfBirth)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dependent.DateOfBirth)
            @Html.ValidationMessageFor(model => model.Dependent.DateOfBirth)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Dependent.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dependent.Title)
            @Html.ValidationMessageFor(model => model.Dependent.Title)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Dependent.HomeAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dependent.HomeAddress)
            @Html.ValidationMessageFor(model => model.Dependent.HomeAddress)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Dependent.HomePhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dependent.HomePhone)
            @Html.ValidationMessageFor(model => model.Dependent.HomePhone)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Dependent.HomePhone2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dependent.HomePhone2)
            @Html.ValidationMessageFor(model => model.Dependent.HomePhone2)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Dependent.Nationality)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dependent.Nationality)
            @Html.ValidationMessageFor(model => model.Dependent.Nationality)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Dependent.OfficePhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dependent.OfficePhone)
            @Html.ValidationMessageFor(model => model.Dependent.OfficePhone)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Dependent.PassportExpiration)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dependent.PassportExpiration)
            @Html.ValidationMessageFor(model => model.Dependent.PassportExpiration)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Dependent.PassportNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dependent.PassportNumber)
            @Html.ValidationMessageFor(model => model.Dependent.PassportNumber)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Dependent.PassportType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dependent.PassportType)
            @Html.ValidationMessageFor(model => model.Dependent.PassportType)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Dependent.PersonalEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dependent.PersonalEmail)
            @Html.ValidationMessageFor(model => model.Dependent.PersonalEmail)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Dependent.PostOfAssignment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dependent.PostOfAssignment)
            @Html.ValidationMessageFor(model => model.Dependent.PostOfAssignment)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Dependent.PreferredName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dependent.PreferredName)
            @Html.ValidationMessageFor(model => model.Dependent.PreferredName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Dependent.Surname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dependent.Surname)
            @Html.ValidationMessageFor(model => model.Dependent.Surname)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Dependent.VisaExpiration)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dependent.VisaExpiration)
            @Html.ValidationMessageFor(model => model.Dependent.VisaExpiration)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Dependent.VisaNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dependent.VisaNumber)
            @Html.ValidationMessageFor(model => model.Dependent.VisaNumber)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Dependent.AgencyOrSection)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dependent.AgencyOrSection)
            @Html.ValidationMessageFor(model => model.Dependent.AgencyOrSection)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Dependent.CellPhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dependent.CellPhone)
            @Html.ValidationMessageFor(model => model.Dependent.CellPhone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Dependent.DateOfBirth)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dependent.DateOfBirth)
            @Html.ValidationMessageFor(model => model.Dependent.DateOfBirth)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Dependent.EmergencyContactEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dependent.EmergencyContactEmail)
            @Html.ValidationMessageFor(model => model.Dependent.EmergencyContactEmail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Dependent.EmergencyContactGivenName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dependent.EmergencyContactGivenName)
            @Html.ValidationMessageFor(model => model.Dependent.EmergencyContactGivenName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Dependent.EmergencyContactOfficePhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dependent.EmergencyContactOfficePhone)
            @Html.ValidationMessageFor(model => model.Dependent.EmergencyContactOfficePhone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Dependent.EmergencyContactPhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dependent.EmergencyContactPhone)
            @Html.ValidationMessageFor(model => model.Dependent.EmergencyContactPhone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Dependent.EmergencyContactPhone2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dependent.EmergencyContactPhone2)
            @Html.ValidationMessageFor(model => model.Dependent.EmergencyContactPhone2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Dependent.EmergencyContactRelationship)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dependent.EmergencyContactRelationship)
            @Html.ValidationMessageFor(model => model.Dependent.EmergencyContactRelationship)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Dependent.EmergencyContactSurname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dependent.EmergencyContactSurname)
            @Html.ValidationMessageFor(model => model.Dependent.EmergencyContactSurname)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Dependent.Extension)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dependent.Extension)
            @Html.ValidationMessageFor(model => model.Dependent.Extension)
        </div>
        
    </fieldset>
     @Html.HiddenFor(model => model.Dependent.Id)
   
    <input type="submit" value="Submit"/>
}