@model Cico.Controllers.DependentModel
@using Cico.Models.Helpers



<script type="text/javascript">
    $(document).ready(function () {
        $('#Dependent_SameECData').click(
            function() {
                populateEmergency();
            }
        );
        
        $('#Dependent_SameAddressData').click(
            function () {
                populateAddress();
            }
        );

        //$("#Dependent_Relationship").change(
        //    function() {
        //        if ($('#Dependent_SameECData').attr('checked')) {
        //            $('#Dependent_EmergencyContactRelationship').val($('#Dependent_Relationship').val());
        //        }
        //    }
        //);
        populateAddress();
        populateEmergency();
    });
    

    function populateAddress() {
        if ($('#Dependent_SameAddressData').attr('checked')) {
            $('#address-data').find('*').attr('disabled', true);
            $.post("/employee/AutoPopulateData", { employeeId: $("#EmployeeId").val() },
                function (emergencyData) {
                    $('#Dependent_ResidentAddress').val(emergencyData.ResidentAddress);
                    $('#Dependent_ResidentPhoneNumber').val(emergencyData.HomePhone);
                    
                    
                    
                });
        } else {
            $('#address-data').find('*').attr('disabled', false);
        }
    }
    
    function populateEmergency() {
        if ($('#Dependent_SameECData').attr('checked')) {
            $('#emergency-data').find('*').attr('disabled', true);
            $.post("/employee/AutoPopulateData", { employeeId: $("#EmployeeId").val() },
                function(emergencyData) {
                    $('#Dependent_EmergencyContactName').val(emergencyData.EmergencyContactName);
                   // $('#Dependent_EmergencyContactRelationship').val($('#Dependent_Relationship').val());
                    $('#Dependent_EmergencyContactOfficePhone').val(emergencyData.EmergencyContactOfficePhone);
                    $('#Dependent_EmergencyContactPhone').val(emergencyData.EmergencyContactPhone);
                    $('#Dependent_EmergencyContactPhone2').val(emergencyData.EmergencyContactPhone2);
                    $('#Dependent_EmergencyContactEmail').val(emergencyData.EmergencyContactEmail);
                });
        } else {
            $('#emergency-data').find('*').attr('disabled', false);
        }
    }
</script>

<div><input type="submit" value="Save" name="Save" /> </div>
    @Html.ValidationSummary()
    <fieldset class="two-column-form" style="width: 80%">
        @Html.HiddenFor(c=>c.EmployeeId)
        <legend>Information for @Model.Dependent.FirstName @Model.Dependent.LastName</legend>
        <div class="float-left" style="width: 47%">
            @Html.CicoDepHTMLFor(model => model.Dependent.FirstName, Model, "*As appears on passport")
            @Html.CicoDepHTMLFor(model => model.Dependent.LastName, Model, "*As appears on passport")
            @Html.CicoDepHTMLFor(model => model.Dependent.PersonalEmail, Model)
            @Html.CicoDepHTMLFor(model => model.Dependent.DateOfBirth, Model)
            @Html.CicoDepHTMLFor(model => model.Dependent.SchoolName, Model)
            @Html.CicoDepDropdownFor(model => model.Dependent.Nationality, Model, "Nations")
            @Html.DepPassportDisplay(model => model.Dependent.PassportNumber, Model)
            @Html.CicoDepHTMLFor(model => model.Dependent.PassportExpiration, Model)
            @Html.CicoDepDropdownFor(model => model.Dependent.PassportType, Model, "PassportType")
        </div>
        <div class="float-right" style="width: 47%">
            @Html.CicoDepHTMLFor(model => model.Dependent.PreferredName, Model)
            @Html.CicoDepDropdownFor(model => model.Dependent.Relationship, Model, "Relationship")
            @Html.CicoDepHTMLFor(model => model.Dependent.PersonalMobilePhone, Model)
            <div>
                <div class="editor-label">
                    <label>
                        Emergency Same as Primary    
                    </label>
                </div>
                <div class="editor-field">
                    @Html.CheckBoxFor(c=>c.Dependent.SameECData)
                </div>
            </div>
            <div id="emergency-data">
                @Html.CicoDepHTMLFor(model => model.Dependent.EmergencyContactName, Model) 
                @Html.CicoDepHTMLFor(model => model.Dependent.EmergencyContactOfficePhone, Model) 
                @Html.CicoDepHTMLFor(model => model.Dependent.EmergencyContactPhone, Model) 
                @Html.CicoDepHTMLFor(model => model.Dependent.EmergencyContactPhone2, Model) 
                @Html.CicoDepHTMLFor(model => model.Dependent.EmergencyContactEmail, Model)
            </div>
            <div class="editor-field">
                   @Html.CicoDepHTMLFor(model => model.Dependent.EmergencyContactRelationship, Model)
            </div>
         </div>
        <div style="clear: both"></div>
    </fieldset>
    <fieldset class="two-column-form" style="width: 80%">
        <legend>After Arrival</legend>
        <h2>After Arrival</h2>
        <div class="float-left" style="width: 47%">
            <div>
                <div class="editor-label">
                    @Html.LabelFor(c=>c.Dependent.SameAddressData)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(c=>c.Dependent.SameAddressData)
                </div>
            </div>
            <div id="address-data">
                 @Html.CicoDepHTMLFor(model => model.Dependent.ResidentPhoneNumber, Model) 
                 @Html.CicoDepHTMLFor(model => model.Dependent.ResidentAddress, Model) 
            </div>
            </div>
        <div class="float-right" style="width: 47%">
            @Html.CicoDepHTMLFor(model => model.Dependent.VisaNumber, Model) 
            @Html.CicoDepHTMLFor(model => model.Dependent.VisaExpiration, Model) 
        </div>
    </fieldset>
    <div><input type="submit" value="Save" name="Save" /> </div>
    
   
   
