@model ICollection< Cico.Models.Dependent>

@{
    ViewBag.Title = "Dependents1 ";
 
}

<h2>Dependents</h2>


<table>
    <tr>
        <th>
            Given Name
        </th>
        <th>
           DOB
        </th>
    </tr>
    @foreach (var dep in Model)
    {
        <tr>
            <td>
                @dep.GivenName
            </td>
         <td>
                @dep.Surname
            </td>
            <td>
                @(dep.DateOfBirth==null?"":dep.DateOfBirth.Value.ToShortDateString())
            </td>
             <td>
                @dep.Relationship
            </td>
            <td>
                @Html.ActionLink("Edit","Edit",new{id=dep.Id.ToString()})  |
                @Html.ActionLink("Delete", "Delete",  new {id=dep.Id.ToString()})
            </td>
        </tr>
    }
</table>