@model IEnumerable<Cico.Models.Office>

@{
    ViewBag.Title = "List Offices";
}

<h2>Office List</h2>

<p>
    @Html.ActionLink("Create New Office", "Create")
</p>
<table class="admin-table">
    <tr>
        <th>
            Office Name 
        </th>

        <th>
            Contact User
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ContactUser)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OfficeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OfficeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OfficeId })
        </td>
    </tr>
}

</table>
