@using Cico.Models.Helpers
@model dynamic
@{
    ViewBag.Title = "Welcome";
    
}

<h2>Welcome to
    @Html.EmbassyName() City Online Check-in / Check-Out Application
</h2>
<p>
    This application aids in the process of checking-in and checking-out staff as you change postings. It is intended to simplify the process for you by providing a simple interface for submitting the necessary information and documentation needed to get you and your family into the country and settled in your new position.  It is also used when staff is departing @Html.EmbassyName() to help organize and track your departure activities.
</p>
<p>
    To start, begin completing your Checklist and your Personal Data.
</p>

<div style="display: block">
    <div style="float: left; width: 49%">
        <h2>Checklist</h2>
        <p>
            Your checklist is comprised of several items, each of which you must complete by completing a form, uploading a document or other such activity.  Completed items will turn green while partially completed items will turn yellow.
        </p>
        <p>
            To work on an item, simply click on it and it will open to provide you with step-by-step instructions for completing it.
        </p>
        <p>
            First Time User?
            Click here to register and get started.
        </p>
        <strong>
            @Html.ActionLink("REGISTER", "initialize")
        </strong>
    </div>

    <div style="float: right; width: 49%">
        <h2>Personal Data</h2>
        <p>
            The form that you are requested to complete will provide necessary information to the embassy staff to help you and your family get settled.  Note the separate tab for your dependents.
        </p>
        <p>
            Complete as much of the form as you can and click Save.  You may return to complete the form later.
        </p>
        <p>
            Returning User?
            Click here to proceed to your checklist.
        </p>
        <strong>
            @Html.ActionLink("CONTINUE", "index","home",new {land="true"},null)
        </strong>
    </div>
    <div style="clear: both"></div>
</div>

<p>For assistance in using this application, contact:  @Html.EmbassyEmail()</p>



