@using Cico.Models.Helpers
@model Cico.Models.Employee

<input type="submit" value="Save" />
<fieldset class="two-column-form" style="width: 80%">
    <legend>Employee</legend>
    @Html.ValidationSummary()
    <div class="float-left" style="width: 47%">
        
        @Html.CicoEditorFor(model => model.FirstName)
        @Html.CicoEditorFor(model => model.MiddleInitial)
        @Html.CicoEditorFor(model => model.LastName)
        @Html.CicoEditorFor(model => model.PreferredName)
        @Html.CicoEditorFor(model => model.SSN)
        @Html.CicoEditorFor(model => model.CellPhone)
        @Html.CicoEditorFor(model => model.PersonalEmail)
        @Html.CicoEditorFor(model => model.WorkEmail)
        @Html.CicoEditorFor(model => model.Title)
        @Html.CicoEditorFor(model => model.PositionTitle)
        @Html.CicoEditorFor(model => model.DiplomaticTitle)
        @Html.CicoEditorFor(model => model.DateOfBirth)
        @Html.CicoDropdownFor(model => model.Nationality, "Nations")
        @Html.CicoEditorFor(model => model.HomeAddress)
        @Html.CicoDropdownFor(model => model.LegalResidenceState, "States")
        @Html.CicoEditorFor(model => model.PassportNumber)
        @Html.CicoEditorFor(model => model.PassportExpiration)
        @Html.CicoDropdownFor(model => model.PassportType, "PassportType")
        
            
    </div>
    <div class="float-right" style="width: 47%">
        
        @Html.CicoDropdownFor(model => model.Agency, "Agency")
        @Html.CicoDropdownFor(model => model.Section, "Sections")
        @Html.CicoDropdownFor(model => model.Office, "Office")
        @Html.CicoEditorFor(model => model.ArrivalDate)
        @Html.CicoEditorFor(model => model.TourEndDate)
        @Html.CicoEditorFor(model => model.PriorPost)
        @Html.CicoEditorFor(model => model.PreArrivalPhone)
        @Html.CicoEditorFor(model => model.EmergencyContactName)
        @Html.CicoEditorFor(model => model.EmergencyContactRelationship)
        @Html.CicoEditorFor(model => model.EmergencyContactOfficePhone)
        @Html.CicoEditorFor(model => model.EmergencyContactPhone)
        @Html.CicoEditorFor(model => model.EmergencyContactPhone2)
        @Html.CicoEditorFor(model => model.EmergencyContactEmail)
        @Html.CicoEditorFor(model => model.ClearanceLevel)
        @Html.CicoEditorFor(model => model.Gender)
        @Html.CicoEditorFor(model => model.BankAccount)
        @Html.CicoEditorFor(model => model.RoutingNumber)
        <div style="clear: both"></div>
    </div>
</fieldset>
<fieldset class="two-column-form" style="width: 80%">
    <legend>After Arrival</legend>
    <h2>After Arrival</h2>
    
    <div class="float-left" style="width: 47%">
        @Html.CicoEditorFor(model => model.ResidentAddress)
        @Html.CicoEditorFor(model => model.HomePhone)
        @Html.CicoEditorFor(model => model.OfficeCellPhone)
        @Html.CicoEditorFor(model => model.OfficePhone)
        @*Html.CicoEditorFor(model => model.SafeWord)*@
        
    </div>
    <div class="float-right" style="width: 47%">
        @Html.CicoEditorFor(model => model.VisaNumber)
        @Html.CicoEditorFor(model => model.VisaExpiration)
        @Html.CicoEditorFor(model => model.RadioCallSign)
        @Html.CicoEditorFor(model => model.LicensePlate)
    </div>
</fieldset>