@model Cico.Models.Employee

@{
    ViewBag.Title = "EmployeeIndex";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<h2>EmployeeIndex</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Employee</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MiddleName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MiddleName)
            @Html.ValidationMessageFor(model => model.MiddleName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PreferredName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PreferredName)
            @Html.ValidationMessageFor(model => model.PreferredName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateOfBirth)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateOfBirth)
            @Html.ValidationMessageFor(model => model.DateOfBirth)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nationality)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nationality)
            @Html.ValidationMessageFor(model => model.Nationality)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HomePhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HomePhone)
            @Html.ValidationMessageFor(model => model.HomePhone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CellPhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CellPhone)
            @Html.ValidationMessageFor(model => model.CellPhone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TourStartDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TourStartDate)
            @Html.ValidationMessageFor(model => model.TourStartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TourEndDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TourEndDate)
            @Html.ValidationMessageFor(model => model.TourEndDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AgencyOrSection)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AgencyOrSection)
            @Html.ValidationMessageFor(model => model.AgencyOrSection)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PositionTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PositionTitle)
            @Html.ValidationMessageFor(model => model.PositionTitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HomeStreetAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HomeStreetAddress)
            @Html.ValidationMessageFor(model => model.HomeStreetAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HomeStreetAddress2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HomeStreetAddress2)
            @Html.ValidationMessageFor(model => model.HomeStreetAddress2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HomeState)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HomeState)
            @Html.ValidationMessageFor(model => model.HomeState)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HomeCity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HomeCity)
            @Html.ValidationMessageFor(model => model.HomeCity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HomeZip)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HomeZip)
            @Html.ValidationMessageFor(model => model.HomeZip)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AgencyEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AgencyEmail)
            @Html.ValidationMessageFor(model => model.AgencyEmail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PersonalEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PersonalEmail)
            @Html.ValidationMessageFor(model => model.PersonalEmail)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
