@model Cico.Models.CheckListItemTemplate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CheckListItemTemplate</legend>

    <div class="display-label">Item</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Item)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">Office</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Office)
    </div>

    <div class="display-label">Priority</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Priority)
    </div>

    <div class="display-label">Status</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">Viewable</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Viewable)
    </div>

    <div class="display-label">Subscriber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Subscriber)
    </div>

    <div class="display-label">CheckListId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CheckListId)
    </div>

    <div class="display-label">DueDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DueDate)
    </div>

    <div class="display-label">Instructions</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Instructions)
    </div>

    <div class="display-label">EmployeeComplete</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmployeeComplete)
    </div>

    <div class="display-label">Provisional</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Provisional)
    </div>

    <div class="display-label">OfficeComplete</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OfficeComplete)
    </div>

    <div class="display-label">Document</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Document)
    </div>

    <div class="display-label">Form</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Form)
    </div>

    <div class="display-label">InstructionText</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InstructionText)
    </div>

    <div class="display-label">Group</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Group)
    </div>

    <div class="display-label">AlertDays</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AlertDays)
    </div>

    <div class="display-label">AlertFrenquency</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AlertFrenquency)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CheckListItemTemplateId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
