@model IEnumerable<Cico.Models.CheckList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Type
        </th>
        <th>
            Name
        </th>
        <th>
            EmployeeEmployeeId
        </th>
        <th>
            StartDate
        </th>
        <th>
            EndDate
        </th>
        <th>
            DueDate
        </th>
        <th>
            Offices
        </th>
        <th>
            Documents
        </th>
        <th>
            CheckListItems
        </th>
        <th>
            Employee
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.Type
        </td>
        <td>
			@item.Name
        </td>
        <td>
			@item.EmployeeEmployeeId
        </td>
        <td>
			@item.StartDate
        </td>
        <td>
			@item.EndDate
        </td>
        <td>
			@item.DueDate
        </td>
        <td>
			@(item.Offices == null ? "None" : item.Offices.Count.ToString())
        </td>
        <td>
			@(item.Documents == null ? "None" : item.Documents.Count.ToString())
        </td>
        <td>
			@(item.CheckListItems == null ? "None" : item.CheckListItems.Count.ToString())
        </td>
        <td>
			@(item.Employee == null ? "None" : item.Employee.Title)
        </td>
    </tr>
}

</table>


