@model Cico.Areas.Admin.TemplateModel

@{
    ViewBag.Title = "title";
    
}

<h2>Edit checklist template</h2>

@Html.TextBoxFor(c=>c.CheckListTemplate.Name)

@Html.ActionLink("New Items","Index","ItemClass",new {templateId=Model.CheckListTemplate.CheckListTemplateId},new {})

<h2>Items</h2>
<ul>
@foreach (var item in Model.TemplateItems)
{
    <li>
        <div>
            <div>Description: </div>
            @Html.ActionLink(@item.Description,"Edit","ItemClass",new {id=item.Id},null)
        </div>
        <div>
            <div>Item Type:</div>
            @item.Type
        </div>
        <hr/>
    </li>
}
    </ul>







