@model Cico.Areas.Admin.TemplateModel

@{
    ViewBag.Title = "title";
    
}

<h2>Edit Checklist</h2>
<div>
    
    @Html.ActionLink("New Item","Index","ItemClass",new {templateId=Model.CheckListTemplate.CheckListTemplateId},new {})
</div>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Select office to filter</legend>
        <div>
            Office
        </div>
        <div>
            @Html.DropDownListFor(c=>c.SelectedOffice,Model.OfficeList,"",Model.OfficeDisabled?new {disabled="disabled"}:new object())
        </div>
        <div>
            <button type="submit"> Filter</button>
        </div>

    </fieldset>
}


<h2>Items</h2>
<table class="admin-table">
    <tr>
        <th>Description</th>
        <th>Item Type</th>
        <th>Office</th>
    </tr>
    @foreach (var item in Model.TemplateItems)
    {
        <tr>
            
                <td >
                    
                    @Html.ActionLink(@item.Description, "Edit", "ItemClass", new { id = item.Id }, null)
                </td>
                <td >
                    
                    @item.Type
                </td>
                
                <td >
                    
                    @item.Office
                </td>
            
            
        </tr>
    }
    </table>







