@model Cico.Models.Employee

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Employee</h2>

<h3>Are you sure you want to delete this?</h3>
@Html.ValidationSummary()
<fieldset>
    
    <legend>Employee</legend>

    <div class="display-label">Given Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    
    <div class="display-label">DateOfBirth</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfBirth)
    </div>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
