@model Cico.Areas.Admin.StaffModel

@{
    ViewBag.Title = "Staff Create";
    
}

<h2>Staff Create</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <fieldset>
        <legend>Staff Form</legend>
        <div>
            <label>User Id</label>
        </div>
        <div>
            @Html.TextBoxFor(c=>c.Staff.UserId)
        </div>
        
        

        <div>
            @Html.LabelFor(c=>c.Staff.Email)
        </div>
        <div>
            @Html.TextBoxFor(c=>c.Staff.Email)
        </div>
        <div>
            @Html.LabelFor(c=>c.Staff.Office)
        </div>
        <div>
            @Html.DropDownListFor(c=>c.SelectedOffice,Model.Offices,"")
        </div>
        

        <label>User Configuration</label>
        
        
        <ul>
            <li>
            @Html.CheckBoxFor(c=>c.Staff.ReqireCheckList) Requires own Checklist & Data 
        </li>
            @foreach (var role in Model.Roles)
            {
                
                <li>
                    <input name="SelectedRoles" type="checkbox" value="@role.Value" @(role.Selected?"checked":"")/> @role.Text 
                </li>
            }
        </ul>
        
        <div>
            <input type="submit" value="Save" />
        </div>

    </fieldset>
}
