@using Cico.Models.Helpers
@model Cico.Areas.Admin.EmployeeModel

<div> <input type="submit" value="Save" /></div>
<fieldset class="two-column-form" style="width: 80%">
    <legend>Employee</legend>
    @Html.ValidationSummary()
    <div class="float-left" style="width: 47%">
        
       
        @Html.CicoEmpHTMLFor(model => model.Employee.FirstName, Model, "*As appears on passport")
        @Html.CicoEmpHTMLFor(model => model.Employee.MiddleInitial,Model)
        @Html.CicoEmpHTMLFor(model => model.Employee.LastName, Model, "*As appears on passport")
        @Html.CicoEmpHTMLFor(model => model.Employee.PreferredName, Model)
        @Html.SSNDisplay(model => model.Employee.SSN, Model)
        @Html.CicoEmpHTMLFor(model => model.Employee.CellPhone, Model)
        @Html.CicoEmpHTMLFor(model => model.Employee.PersonalEmail, Model)
        @Html.CicoEmpHTMLFor(model => model.Employee.WorkEmail, Model)
        @Html.CicoEmpHTMLFor(model => model.Employee.Title, Model)
        @Html.CicoEmpHTMLFor(model => model.Employee.PositionTitle, Model)
        @Html.CicoEmpHTMLFor(model => model.Employee.DiplomaticTitle, Model)
        @Html.CicoEmpHTMLFor(model => model.Employee.DateOfBirth, Model)
        @Html.CicoEmpDropdownFor(model => model.Employee.Nationality, Model, "Nations")
        @Html.CicoEmpHTMLFor(model => model.Employee.HomeAddress, Model)
        @Html.CicoEmpDropdownFor(model => model.Employee.LegalResidenceState, Model, "States")
        @Html.PassportDisplay(model => model.Employee.PassportNumber, Model)
        @Html.CicoEmpHTMLFor(model => model.Employee.PassportExpiration, Model)
        @Html.CicoEmpDropdownFor(model => model.Employee.PassportType, Model, "PassportType")
        
            
    </div>
    <div class="float-right" style="width: 47%">
        
        @Html.CicoEmpDropdownFor(model => model.Employee.Agency, Model, "Agency")
        @Html.CicoEmpDropdownFor(model => model.Employee.Section, Model, "Sections")
        @Html.CicoEmpDropdownFor(model => model.Employee.Office, Model, "Office")
        @Html.CicoEmpHTMLFor(model => model.Employee.ArrivalDate, Model)
        @Html.CicoEmpHTMLFor(model => model.Employee.TourEndDate, Model)
        @Html.CicoEmpHTMLFor(model => model.Employee.PriorPost, Model)
        @Html.CicoEmpHTMLFor(model => model.Employee.PreArrivalPhone, Model)
        @Html.CicoEmpHTMLFor(model => model.Employee.EmergencyContactName, Model)
        @Html.CicoEmpHTMLFor(model => model.Employee.EmergencyContactRelationship, Model)
        @Html.CicoEmpHTMLFor(model => model.Employee.EmergencyContactOfficePhone, Model)
        @Html.CicoEmpHTMLFor(model => model.Employee.EmergencyContactPhone, Model)
        @Html.CicoEmpHTMLFor(model => model.Employee.EmergencyContactPhone2, Model)
        @Html.CicoEmpHTMLFor(model => model.Employee.EmergencyContactEmail, Model)
        @Html.CicoEmpHTMLFor(model => model.Employee.ClearanceLevel, Model)
        @Html.CicoEmpHTMLFor(model => model.Employee.Gender, Model)
        @Html.CicoEmpHTMLFor(model => model.Employee.BankAccount, Model)
        @Html.CicoEmpHTMLFor(model => model.Employee.RoutingNumber, Model)
        <div style="clear: both"></div>
    </div>
</fieldset>
<fieldset class="two-column-form" style="width: 80%">
    <legend>After Arrival</legend>
    <h2>After Arrival</h2>
    
    <div class="float-left" style="width: 47%">
        @Html.CicoEmpHTMLFor(model => model.Employee.ResidentAddress, Model)
        @Html.CicoEmpHTMLFor(model => model.Employee.HomePhone, Model)
        @Html.CicoEmpHTMLFor(model => model.Employee.OfficeCellPhone, Model)
        @Html.CicoEmpHTMLFor(model => model.Employee.OfficePhone, Model)
        @*Html.CicoEmpHTMLFor(model => model.Employee.SafeWord)*@
        
    </div>
    <div class="float-right" style="width: 47%">
        @Html.CicoEmpHTMLFor(model => model.Employee.VisaNumber, Model)
        @Html.CicoEmpHTMLFor(model => model.Employee.VisaExpiration, Model)
        @Html.CicoEmpHTMLFor(model => model.Employee.RadioCallSign, Model)
        @Html.CicoEmpHTMLFor(model => model.Employee.LicensePlate, Model)
    </div>
</fieldset>