@model Cico.Areas.Admin.IndexDashboardOfficeModel

@{
    ViewBag.Title = "Office Admin Dashboard";
  
}

<h2>Office Admin Dashboard</h2>


<table class="admin-table">
    <tr>
        <th>
            Chceklist Item
        </th>
        <th>
            Email Subscription
        </th>
        <th>
            Edit
        </th>
    </tr>
    @foreach (var item in Model.SubscriptionLines)
    {
        <tr>
            <td>
                @item.CheckListItemTemplateDescription
            </td>
            <td>
                <input type="checkbox" @(item.Subscribed?"checked":"") data-id="@item.SubsctiptionId" data-template-id="@item.CheckListItemTemplateId"/>
            </td>
            <td>
                @Html.ActionLink("Edit","Edit","ItemClass",new{id=item.CheckListItemTemplateId},null)
            </td>
        </tr>
    }

</table>

<script type="text/javascript">
    $(document).ready(function () {
        $("input:checkbox").click(
            function () {
                var self = this;
                if ($(this).is(':checked')) {
                    $.ajax(
                        {
                            type:"post",
                            url: "/Admin/OfficeAdminDashboard/AddSubscription",
                            data: { templateId: $(this).data("template-id") },
                            success:function(data) {
                                // SubsctiptionId
                                $(self).data("id", data.SubsctiptionId);
                            },
                            error:function(e) {
                                alert(e.responseText);
                            }
                        }
                    );
                } else {
                    $.ajax(
                         {
                             type: "post",
                             url: "/Admin/OfficeAdminDashboard/RemoveSubscription",
                             data: { subsId: $(this).data("id") },
                             success: function (data) {

                             },
                             error: function (e) {
                                 alert(e.responseText);
                             }
                         }
                     );
                };
            }
        );
    });
</script>