@using System.Web.Optimization


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="/Content/site.css" />
        <link rel="stylesheet" href="/Content/themes/base/jquery-ui.css" />

       <script type="text/javascript" src="/scripts/modernizr-1.7.js"></script>
        <script src="/Scripts/jquery-1.5.1.js"></script>
        <script src="/Scripts/jquery-ui-1.8.11.js"></script>
        <script src="/Scripts/knockout-2.2.1.debug.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $(".date").datepicker({

                });
            });
</script>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title"><img src="/Images/us_embassy_logo.jpg"/>Check-In & Check-Out</p>
                    @Html.MvcSiteMap().SiteMapPath()
                </div>
                <div class="float-right">
                    <section id="login">
                        <span class="username">@User.Identity.Name</span>
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Admin", "Index", "CheckLists", new { area = "Admin" }, null)</li>
                        </ul>
                    </nav>
                   
                </div>
            </div>
            <div style="clear: both"></div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
                <aside>
                    @Html.Partial("AsideMenu")
                </aside>
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; IDOX</p>
                </div>
            </div>
        </footer>

       
    </body>
</html>
