@model Cico.Areas.Admin.EmployeeModel
@using Cico.Models.Helpers;
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Employee</legend>
        <div>
            <!--Left column-->
            <div class="float-left" style="width: 48%">

                @Html.CicoEmpHTMLFor(model => model.Employee.FirstName, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.MiddleInitial, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.LastName, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.PreferredName, Model)
                @Html.SSNDisplay(model => model.Employee.SSN)
                @Html.CicoEmpHTMLFor(model => model.Employee.CellPhone, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.PersonalEmail, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.WorkEmail, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.Title, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.PositionTitle, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.DiplomaticTitle, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.DateOfBirth, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.Nationality, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.HomeAddress, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.LegalResidenceState, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.PassportNumber, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.PassportExpiration, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.PassportType, Model)
            </div>
            <!--Right column-->
            <div class="float-right" style="width: 48%">

                @Html.CicoEmpHTMLFor(model => model.Employee.Agency, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.Section, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.Office, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.ArrivalDate, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.TourEndDate, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.PriorPost, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.PreArrivalPhone, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.EmergencyContactName, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.EmergencyContactRelationship, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.EmergencyContactOfficePhone, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.EmergencyContactPhone, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.EmergencyContactPhone2, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.EmergencyContactEmail, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.ClearanceLevel, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.Gender, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.BankAccount, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.RoutingNumber, Model)
            </div>
        </div>
    </fieldset>
    
    <h5>After Arrival</h5>
    <fieldset>
        <legend>After arrival</legend>
        <div>
            <div class="float-left" style="width: 47%">
                @Html.CicoEmpHTMLFor(model => model.Employee.ResidentAddress, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.HomePhone, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.OfficeCellPhone, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.OfficePhone, Model)
            </div>
            <div class="float-right" style="width: 47%">
                @Html.CicoEmpHTMLFor(model => model.Employee.VisaNumber, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.VisaExpiration, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.RadioCallSign, Model)
                @Html.CicoEmpHTMLFor(model => model.Employee.LicensePlate, Model)
            </div>
        </div>
    </fieldset>
}