@model IEnumerable<Cico.Models.CheckListItemTemplate>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Item
        </th>
        <th>
            Description
        </th>
        <th>
            Office
        </th>
        <th>
            Priority
        </th>
        <th>
            Status
        </th>
        <th>
            Viewable
        </th>
        <th>
            Subscriber
        </th>
        <th>
            CheckListId
        </th>
        <th>
            DueDate
        </th>
        <th>
            Instructions
        </th>
        <th>
            EmployeeComplete
        </th>
        <th>
            Provisional
        </th>
        <th>
            OfficeComplete
        </th>
        <th>
            Document
        </th>
        <th>
            Form
        </th>
        <th>
            InstructionText
        </th>
        <th>
            Group
        </th>
        <th>
            AlertDays
        </th>
        <th>
            AlertFrenquency
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Office)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Priority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Viewable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subscriber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckListId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instructions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeComplete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provisional)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfficeComplete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Document)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Form)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstructionText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Group)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlertDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlertFrenquency)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CheckListItemTemplateId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CheckListItemTemplateId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CheckListItemTemplateId })
        </td>
    </tr>
}

</table>
