@using Cico.Models.Helpers
@model Cico.Models.Reminder

@{
    ViewBag.Title = "Create Office";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Reminder</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Checklisttype)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Checklisttype, Html.GetDropdownItems("CheckListType"), "")
            @Html.ValidationMessageFor(model => model.Checklisttype)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateToSend)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateToSend)
            @Html.ValidationMessageFor(model => model.DateToSend)
        </div>
        
        
        <div class="editor-label">
            @Html.LabelFor(model => model.MessageSubject)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MessageSubject)
            @Html.ValidationMessageFor(model => model.MessageSubject)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.MessagePreface)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.MessagePreface)
            @Html.ValidationMessageFor(model => model.MessagePreface)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.MessageClosing)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.MessageClosing)
            @*@Html.ValidationMessageFor(model => model.MessageClosing)*@
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
