@model Cico.Models.Employee

@{
    ViewBag.Title = "Employee Details";
}

<h2>Employee Details</h2>

<fieldset>
    <legend>Employee</legend>
     
        <legend>Employee</legend>

        <div class="display-label">
            @Html.LabelFor(model => model.GivenName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.GivenName)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.DateOfBirth)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.DateOfBirth)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Title)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.HomeAddress)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.HomeAddress)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.HomePhone)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.HomePhone)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.HomePhone2)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.HomePhone2)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.LegalResidenceState)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LegalResidenceState)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.Location)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Location)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.Nationality)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Nationality)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.Office)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Office)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.OfficeCellPhone)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.OfficeCellPhone)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.OfficePhone)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.OfficePhone)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.PassportExpiration)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.PassportExpiration)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.PassportNumber)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.PassportNumber)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.PassportType)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.PassportType)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.PersonalEmail)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.PersonalEmail)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.PositionTitle)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.PositionTitle)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.PostOfAssignment)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.PostOfAssignment)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.PreArrivalPhone)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.PreArrivalPhone)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.PreferredName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.PreferredName)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.PriorPostCity)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.PriorPostCity)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.PriorPostCountry)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.PriorPostCountry)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.PriorPostState)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.PriorPostState)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.RoutingNumber)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RoutingNumber)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Surname)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Surname)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.TourEndDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TourEndDate)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.VisaExpiration)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.VisaExpiration)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.VisaNumber)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.VisaNumber)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.WorkEmail)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.WorkEmail)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.AgencyOrSection)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.AgencyOrSection)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.ArrivalDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ArrivalDate)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.BankAccount)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.BankAccount)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.CellPhone)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CellPhone)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.DateOfBirth)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.DateOfBirth)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.DiplomaticTitle)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.DiplomaticTitle)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.EmergencyContactEmail)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.EmergencyContactEmail)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.EmergencyContactGivenName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.EmergencyContactGivenName)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.EmergencyContactOfficePhone)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.EmergencyContactOfficePhone)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.EmergencyContactPhone)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.EmergencyContactPhone)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.EmergencyContactPhone2)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.EmergencyContactPhone2)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.EmergencyContactRelationship)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.EmergencyContactRelationship)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.EmergencyContactSurname)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.EmergencyContactSurname)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.EmployeeId)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.EmployeeId)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Extension)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Extension)
        </div>

        
    </fieldset>
   

