@using Cico.Models.Helpers
@model Cico.Areas.Admin.EmployeeModel
@{
    ViewBag.Title = "Edit Employee";
}

<div>

    @Html.ActionLink("Back to List", "Index")
</div>

<div class="homescreen-instructions">
    <label>Please update your information. Select "Save" to save your changes</label></div>




@using (Html.BeginForm())
{
    
    @Html.ValidationSummary(true)
    @Html.Partial("_adminEmployeeFields",Model,new ViewDataDictionary{TemplateInfo = new System.Web.Mvc.TemplateInfo { HtmlFieldPrefix = "Employee" }})
    @Html.Partial("_proxyFields")
    <input type="submit" value="Save" name="Save" />
    @Html.HiddenFor(model => model.Employee.Id)
}
<div>

    @Html.ActionLink("Back to List", "Index")
</div>
