@model Cico.Controllers.HomeModel
@using Cico.Models.Helpers;           
@using (Html.BeginForm("UpdateEmployeeData","Home"))
{
    @Html.ValidationSummary(true)
        <fieldset>
        <legend>Employee</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.GivenName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.GivenName)
            @Html.ValidationMessageFor(model => model.Employee.GivenName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.DateOfBirth)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.DateOfBirth)
            @Html.ValidationMessageFor(model => model.Employee.DateOfBirth)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.Title)
            @Html.ValidationMessageFor(model => model.Employee.Title)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.HomeAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.HomeAddress)
            @Html.ValidationMessageFor(model => model.Employee.HomeAddress)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.HomePhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.HomePhone)
            @Html.ValidationMessageFor(model => model.Employee.HomePhone)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.HomePhone2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.HomePhone2)
            @Html.ValidationMessageFor(model => model.Employee.HomePhone2)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.LegalResidenceState)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.LegalResidenceState)
            @Html.ValidationMessageFor(model => model.Employee.LegalResidenceState)
            @Html.DropDownListFor(model=>model.Employee.LegalResidenceState,Html.GetDropdownItems("States"),"")
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.Location)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.Location)
            @Html.ValidationMessageFor(model => model.Employee.Location)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.Nationality)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.Nationality)
            @Html.ValidationMessageFor(model => model.Employee.Nationality)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.Office)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.Office)
            @Html.ValidationMessageFor(model => model.Employee.Office)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.OfficeCellPhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.OfficeCellPhone)
            @Html.ValidationMessageFor(model => model.Employee.OfficeCellPhone)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.OfficePhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.OfficePhone)
            @Html.ValidationMessageFor(model => model.Employee.OfficePhone)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.PassportExpiration)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.PassportExpiration)
            @Html.ValidationMessageFor(model => model.Employee.PassportExpiration)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.PassportNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.PassportNumber)
            @Html.ValidationMessageFor(model => model.Employee.PassportNumber)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.PassportType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.PassportType)
            @Html.ValidationMessageFor(model => model.Employee.PassportType)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.PersonalEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.PersonalEmail)
            @Html.ValidationMessageFor(model => model.Employee.PersonalEmail)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.PositionTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.PositionTitle)
            @Html.ValidationMessageFor(model => model.Employee.PositionTitle)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.PostOfAssignment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.PostOfAssignment)
            @Html.ValidationMessageFor(model => model.Employee.PostOfAssignment)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.PreArrivalPhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.PreArrivalPhone)
            @Html.ValidationMessageFor(model => model.Employee.PreArrivalPhone)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.PreferredName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.PreferredName)
            @Html.ValidationMessageFor(model => model.Employee.PreferredName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.PriorPostCity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.PriorPostCity)
            @Html.ValidationMessageFor(model => model.Employee.PriorPostCity)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.PriorPostCountry)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.PriorPostCountry)
            @Html.ValidationMessageFor(model => model.Employee.PriorPostCountry)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.PriorPostState)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.PriorPostState)
            @Html.ValidationMessageFor(model => model.Employee.PriorPostState)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.RoutingNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.RoutingNumber)
            @Html.ValidationMessageFor(model => model.Employee.RoutingNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.Surname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.Surname)
            @Html.ValidationMessageFor(model => model.Employee.Surname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.TourEndDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.TourEndDate)
            @Html.ValidationMessageFor(model => model.Employee.TourEndDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.VisaExpiration)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.VisaExpiration)
            @Html.ValidationMessageFor(model => model.Employee.VisaExpiration)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.VisaNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.VisaNumber)
            @Html.ValidationMessageFor(model => model.Employee.VisaNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.WorkEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.WorkEmail)
            @Html.ValidationMessageFor(model => model.Employee.WorkEmail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.AgencyOrSection)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.AgencyOrSection)
            @Html.ValidationMessageFor(model => model.Employee.AgencyOrSection)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.ArrivalDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.ArrivalDate)
            @Html.ValidationMessageFor(model => model.Employee.ArrivalDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.BankAccount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.BankAccount)
            @Html.ValidationMessageFor(model => model.Employee.BankAccount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.CellPhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.CellPhone)
            @Html.ValidationMessageFor(model => model.Employee.CellPhone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.DateOfBirth)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.DateOfBirth)
            @Html.ValidationMessageFor(model => model.Employee.DateOfBirth)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.DiplomaticTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.DiplomaticTitle)
            @Html.ValidationMessageFor(model => model.Employee.DiplomaticTitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.EmergencyContactEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.EmergencyContactEmail)
            @Html.ValidationMessageFor(model => model.Employee.EmergencyContactEmail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.EmergencyContactGivenName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.EmergencyContactGivenName)
            @Html.ValidationMessageFor(model => model.Employee.EmergencyContactGivenName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.EmergencyContactOfficePhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.EmergencyContactOfficePhone)
            @Html.ValidationMessageFor(model => model.Employee.EmergencyContactOfficePhone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.EmergencyContactPhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.EmergencyContactPhone)
            @Html.ValidationMessageFor(model => model.Employee.EmergencyContactPhone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.EmergencyContactPhone2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.EmergencyContactPhone2)
            @Html.ValidationMessageFor(model => model.Employee.EmergencyContactPhone2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.EmergencyContactRelationship)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.EmergencyContactRelationship)
            @Html.ValidationMessageFor(model => model.Employee.EmergencyContactRelationship)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.EmergencyContactSurname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.EmergencyContactSurname)
            @Html.ValidationMessageFor(model => model.Employee.EmergencyContactSurname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.EmployeeId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.EmployeeId)
            @Html.ValidationMessageFor(model => model.Employee.EmployeeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.Extension)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.Extension)
            @Html.ValidationMessageFor(model => model.Employee.Extension)
        </div>

        
    </fieldset>

   
    <input type="submit" value="Submit"/>
}