@model Cico.Controllers.HomeModel
@using Cico.Models.Helpers;           
@using (Html.BeginForm("UpdateEmployeeData","Home"))
{
     @Html.ActionLink("Edit My Info","Edit","Employee",new {id=Model.Employee.Id},null)      @Html.ActionLink("Add Dependent","Create","Dependent",new {id=Model.Employee.Id},null)
 
       @Html.ValidationSummary(true)
        <fieldset>
        <legend>Employee</legend>
            <div>
                <div class="float-left">
       
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.GivenName)
            
                    </div>
                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.DateOfBirth)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.DateOfBirth)
                        @Html.ValidationMessageFor(model => model.Employee.DateOfBirth)
                    </div>

                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.Title)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.Title)
                        @Html.ValidationMessageFor(model => model.Employee.Title)
                    </div>
                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.HomeAddress)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.HomeAddress)
                        @Html.ValidationMessageFor(model => model.Employee.HomeAddress)
                    </div>
                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.HomePhone)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.HomePhone)
                        @Html.ValidationMessageFor(model => model.Employee.HomePhone)
                    </div>
                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.HomePhone2)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.HomePhone2)
                        @Html.ValidationMessageFor(model => model.Employee.HomePhone2)
                    </div>
                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.LegalResidenceState)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.LegalResidenceState)
                        @Html.ValidationMessageFor(model => model.Employee.LegalResidenceState)
                    </div>
                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.Location)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.Location)
                        @Html.ValidationMessageFor(model => model.Employee.Location)
                    </div>
                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.Nationality)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.Nationality)
                        @Html.ValidationMessageFor(model => model.Employee.Nationality)
                    </div>
                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.Office)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.Office)
                        @Html.ValidationMessageFor(model => model.Employee.Office)
                    </div>
                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.OfficeCellPhone)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.OfficeCellPhone)
                        @Html.ValidationMessageFor(model => model.Employee.OfficeCellPhone)
                    </div>
                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.OfficePhone)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.OfficePhone)
                        @Html.ValidationMessageFor(model => model.Employee.OfficePhone)
                    </div>
                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.PassportExpiration)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.PassportExpiration)
                        @Html.ValidationMessageFor(model => model.Employee.PassportExpiration)
                    </div>
                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.PassportNumber)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.PassportNumber)
                        @Html.ValidationMessageFor(model => model.Employee.PassportNumber)
                    </div>
                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.PassportType)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.PassportType)
                        @Html.ValidationMessageFor(model => model.Employee.PassportType)
                    </div>
                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.PersonalEmail)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.PersonalEmail)
                        @Html.ValidationMessageFor(model => model.Employee.PersonalEmail)
                    </div>
                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.PositionTitle)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.PositionTitle)
                        @Html.ValidationMessageFor(model => model.Employee.PositionTitle)
                    </div>
                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.PostOfAssignment)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.PostOfAssignment)
                        @Html.ValidationMessageFor(model => model.Employee.PostOfAssignment)
                    </div>
                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.PreArrivalPhone)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.PreArrivalPhone)
                        @Html.ValidationMessageFor(model => model.Employee.PreArrivalPhone)
                    </div>
                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.PreferredName)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.PreferredName)
                        @Html.ValidationMessageFor(model => model.Employee.PreferredName)
                    </div>
                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.PriorPostCity)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.PriorPostCity)
                        @Html.ValidationMessageFor(model => model.Employee.PriorPostCity)
                    </div>
                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.PriorPostCountry)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.PriorPostCountry)
                        @Html.ValidationMessageFor(model => model.Employee.PriorPostCountry)
                    </div>

                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.PriorPostState)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.PriorPostState)
                        @Html.ValidationMessageFor(model => model.Employee.PriorPostState)
                    </div>

                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.RoutingNumber)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.RoutingNumber)
                        @Html.ValidationMessageFor(model => model.Employee.RoutingNumber)
                    </div>

                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.Surname)
                    </div>
                </div>
                <div class="float-right">
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.Surname)
                        @Html.ValidationMessageFor(model => model.Employee.Surname)
                    </div>

                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.TourEndDate)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.TourEndDate)
                        @Html.ValidationMessageFor(model => model.Employee.TourEndDate)
                    </div>

                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.VisaExpiration)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.VisaExpiration)
                        @Html.ValidationMessageFor(model => model.Employee.VisaExpiration)
                    </div>

                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.VisaNumber)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.VisaNumber)
                        @Html.ValidationMessageFor(model => model.Employee.VisaNumber)
                    </div>

                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.WorkEmail)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.WorkEmail)
                        @Html.ValidationMessageFor(model => model.Employee.WorkEmail)
                    </div>

                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.AgencyOrSection)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.AgencyOrSection)
                        @Html.ValidationMessageFor(model => model.Employee.AgencyOrSection)
                    </div>

                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.ArrivalDate)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.ArrivalDate)
                        @Html.ValidationMessageFor(model => model.Employee.ArrivalDate)
                    </div>

                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.BankAccount)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.BankAccount)
                        @Html.ValidationMessageFor(model => model.Employee.BankAccount)
                    </div>

                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.CellPhone)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.CellPhone)
                        @Html.ValidationMessageFor(model => model.Employee.CellPhone)
                    </div>

                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.DateOfBirth)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.DateOfBirth)
                        @Html.ValidationMessageFor(model => model.Employee.DateOfBirth)
                    </div>

                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.DiplomaticTitle)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.DiplomaticTitle)
                        @Html.ValidationMessageFor(model => model.Employee.DiplomaticTitle)
                    </div>

                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.EmergencyContactEmail)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.EmergencyContactEmail)
                        @Html.ValidationMessageFor(model => model.Employee.EmergencyContactEmail)
                    </div>

                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.EmergencyContactGivenName)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.EmergencyContactGivenName)
                        @Html.ValidationMessageFor(model => model.Employee.EmergencyContactGivenName)
                    </div>

                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.EmergencyContactOfficePhone)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.EmergencyContactOfficePhone)
                        @Html.ValidationMessageFor(model => model.Employee.EmergencyContactOfficePhone)
                    </div>

                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.EmergencyContactPhone)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.EmergencyContactPhone)
                        @Html.ValidationMessageFor(model => model.Employee.EmergencyContactPhone)
                    </div>

                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.EmergencyContactPhone2)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.EmergencyContactPhone2)
                        @Html.ValidationMessageFor(model => model.Employee.EmergencyContactPhone2)
                    </div>

                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.EmergencyContactRelationship)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.EmergencyContactRelationship)
                        @Html.ValidationMessageFor(model => model.Employee.EmergencyContactRelationship)
                    </div>

                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.EmergencyContactSurname)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.EmergencyContactSurname)
                        @Html.ValidationMessageFor(model => model.Employee.EmergencyContactSurname)
                    </div>

                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.EmployeeId)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.EmployeeId)
                        @Html.ValidationMessageFor(model => model.Employee.EmployeeId)
                    </div>

                    <div class="homescreen-label">
                        @Html.LabelFor(model => model.Employee.Extension)
                    </div>
                    <div class="homescreen-display">
                        @Html.DisplayFor(model => model.Employee.Extension)
                        @Html.ValidationMessageFor(model => model.Employee.Extension)
                    </div>
                </div>

            </div>
        
    </fieldset>

   
   
}