@model Cico.Controllers.EmployeeModel
           
<div>
    <ul>
        <li>
            Name
            <div>
                @Model.Name    
            </div>
        </li>
        <li>
            Number
            <div>
                @Model.Number    
            </div>
        </li>
        <li>
            Arrival Date
            <div>
                @Model.ArrivalDate
            </div>
        </li>
        <li>
            Agency
            <div>
                @Model.Agency
            </div>
        </li>
        <li>
            Assigned Office
            <div>
                @Model.AssignedOffice
            </div>
        </li>

        <li>
            Nationality
            <div>
                @Model.Nationality
            </div>
        </li>
    </ul>
</div>

<div>
    <ul>
        <li>
            Nationality
            <div>
                @Model.Nationality
            </div>
        </li>
    </ul>
</div>